
    .inaltime
{
    height: auto; 
    background-color: gray; 
}
#b1
{
    margin-top: 10px;
    height:40px;
    width: auto;
}
.more
{
    display: flex;
    align-items: center;
    height: 40px;
    width: auto;
    font-size: 26px;
}
#stanga1
{
    padding-left: 50px;
}
.card img
{
    padding: 23px;
}
#radius
{
    border-radius: 100px;
}
.item{
    width: 100%;
}
.title
{
    color
}
#hov:hover
{
    color: #FFD700;
    background-color: #FFD700;
}

.newy
 {
    margin:0px;
    height: 656px;
    width: 640px;
    border-bottom-left-radius:30px;
    border-top-left-radius:30px ;
 }
.bottom
{
    height: 300px;
    width: 100%;
    background-color: #212529;
}